<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>AM BART</title>

  <link rel="stylesheet" media="screen" type="text/css" href="css/concise.css">
  <link rel="stylesheet" media="screen" type="text/css" href="css/ambart.css">
  <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>

</head>
<body class="nonresponsive">
  <div container>

  <header row class="siteHeader">
      <div column=12>
      </div>
  </header>


    <%= yield %>

  <footer class="siteFooter">
    <hr>
    <p></p>
  </footer>


    </div>
</body>
</html>






